<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/svg/snapLink-logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Slick Carousel CSS (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <!-- Own CSS File -->
    <link rel="stylesheet" href="CSS/style.css">
    <title>Blogs || SnapLink</title>
</head>

<body>
    <!-- START NAVBAR SECTION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top px-5">
        <a class="navbar-brand" href="/">
            <!--<i class='bx bxl-nodejs'></i>-->
            <img src="/svg/snapLink-logo.svg" alt="SnapLink Logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Social Media
                    </a>
                    <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.facebook.com/rida.momo.3367/" target="_blank"><i
                                class='bx bxl-facebook'> </i> Facebook</a>
                        <a class="dropdown-item" href="https://www.instagram.com/mounirbr24/" target="_blank"><i
                                class='bx bxl-instagram'> </i> Instagram</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.youtube.com/channel/UCPxXadNk_tTpmqc8DAr3Mfw"
                            target="_blank"><i class='bx bxl-youtube'> </i> YouTube channel</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">support</a>
                </li>
            </ul>
        </div>
        <!-- USER PROFILE -->
        <!-- <div class="user__profile">
            <img src="/svg/user.png" alt="User_Profile" class="img-fluid">
        </div> -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown dropleft">
                <a class=" nav-link dropdown-toggle dropleft" href="#" id="navbarDropdown" role="link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/svg/user.png" alt="User_Profile" class="img-fluid">
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item d-flex justify-content-start align-items-center"><i class='bx bx-user'></i>Admin: <%= adminName
                            %></a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/admin-panel"><i
                            class='bx bxs-dashboard'></i>Dashboard</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/urls-list"><i
                            class='bx bx-link'></i>Urls List</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/blogs"><i
                            class='bx bxl-blogger'></i>Blogs</a>
                                                <a class="dropdown-item d-flex justify-content-start align-items-center" href="/admin/ads-manager"><i
                                                        class='bx bxs-bar-chart-alt-2'></i>Compaigns</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/admin/logger/download"><i  class='bx bx-file'></i>Download Logger</a>

                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/sign-out"><i
                            class='bx bx-log-out-circle'></i>Log out</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- PRE-LOADING ANIMATION -->
    <div class="pre-loader_wrapper" id="loader">
        <img src="/svg/loader_ring.gif" alt="Loading..." class="img-fluid">
    </div>
    <main class="container blogs__section">
        <div class="container-fluid blogs__area__controllers">
            <div class="row w-90">
                <!-- BLOGS STATISTICS -->
                <!-- BLOGS TABLE INFO -->
                <table class="table table-striped mt-5 text-center">
                    <thead class="thead-bg">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Poster</th>
                            <th scope="col">Title</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Views</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% blogs.map((blog, i)=> { %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <div class="blog_avatar_wrapper">
                                        <img src="data:image/<%= blog.poster_url.contentType %>; base64,<%= blog.poster_url.data.toString('base64') %>"
                                            alt="<%= blog.title %>" class="img-fluid">
                                    </div>
                                </td>
                                <td>
                                    <p class="blog_title">
                                        <%= blog.title %>
                                    </p>
                                </td>
                                <td>
                                    <p class="blog_desc">
                                        <%= blog.body %>
                                    </p>
                                </td>
                                <td>
                                    <span class="blog_views">
                                        <i class='bx bxs-hot' style="color:hsl(0, 76%, 58%)"></i>
                                        <%= blog.views %>
                                    </span>
                                </td>
                                <td>
                                    <span class="blog_date">
                                        <%= blog.date %>
                                    </span>
                                </td>
                                <td>
                                    <div class="blog_controllers">
                                        <span class="edit_blog" data-id="<%= blog._id %>">
                                            <i class='bx bx-edit' style="font-size:20px;"></i>
                                        </span>
                                        <span class="remove_blog" data-id="<%= blog._id %>">
                                            <i class='bx bxs-trash' style="font-size:20px; color: red"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- BUTTON FOR CREATING ARTICLE AS MODEL -->
        <div class="new_blog_btn">
            <button class="btn create_btn" type="button" data-toggle="modal" data-target="#create_btn"
                aria-expanded="false" aria-controls="create_btn">
                <i class='bx bx-plus'></i>
            </button>
        </div>
        <!-- Modal For Creating Blogs -->
        <div class="modal fade" id="create_btn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- HEADER -->
                    <div class="modal-header">
                        <h5 class="modal-title">New Blog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class='bx bx-x'></i>
                        </button>
                    </div>
                    <!-- BODY -->
                    <div class="modal-body">
                        <!-- IMAGE PREVIEW  -->
                        <div class="image__preview">
                            <img src="" id="img__prv">
                        </div>
                        <!-- BLOG FORM -->
                        <form action="/blogs/create" method="POST" enctype="multipart/form-data" class="mt-5" accept="*"
                            id="blog-article">
                            <div class="container">
                                <div class="row mx-auto">
                                    <div class=" col-md-6">
                                        <input type="text" name="title" class="form-control" placeholder="Blog Title"
                                            required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="author" class="form-control" placeholder="Enter Author"
                                            required>
                                    </div>
                                </div>
                                <div class="row mx-auto mt-2">
                                    <div class="col-md-6">
                                        <select name="topic" class="custom-select">
                                            <option value="Web Development">Web Development</option>
                                            <option value="Web Security">Web Security</option>
                                            <option value="Design">Design</option>
                                            <option value="Cyber-security">Cyber-security</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="poster">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-auto mt-2">
                                    <div class="col-md-12">
                                        <textarea class="form-control" name="body" cols="30" rows="10" required
                                            placeholder="Enter Article Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn apply-btn">Publish</button>
                        </form>
                    </div>
                    <!-- FOOTER -->
                    <div class="modal-footer">
                        <button type="button" class="btn close-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/JS/blog.api.js"></script>
    <script src="JS/blog-post.js"></script>
    <%- include('partials/_footer.ejs') %>